<%- include('includes/userIncludes/userHeader.ejs') %>
</head>
<body>
<%- include('includes/userIncludes/userNav_1.ejs') %>
<%- include('includes/userIncludes/userNav_2.ejs') %>
  <!-- Carousel Start -->
    <div class="container-fluid mb-3">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#header-carousel" data-slide-to="1"></li>
                        <li data-target="#header-carousel" data-slide-to="2"></li>
                        <li data-target="#header-carousel" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item position-relative active" style="height: 430px;">
                            <img class="position-absolute w-100 h-100"src="/UserStyles/userimg/samsung.gif" style="object-fit: cover;">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-1">
                                    <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Galaxy S23|S23+</h1>
                                    <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp style="max-width: 700px; href="#">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item position-relative" style="height: 430px;">
                            <img class="position-absolute w-100 h-100" src="/UserStyles/userimg/canon HD giphy.gif" style="object-fit: cover;">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Come Join Us</h1>
                                    <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Canon is a global brand creating leading edge technology that impacts everyday lives of millions of people across the world. We are always on the lookout for smart, imaginative and passionate people to deliver products, solutions & services that delight customers in their business and personal lives.</p>
                                    <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item position-relative" style="height: 430px;">
                            <img class="position-absolute w-100 h-100" src="/UserStyles/userimg/Nikon giphy.gif" style="object-fit: cover;">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Key Features</h1>
                                    <p class="mx-md-5 px-5 animate__animated animate__bounceIn">The D500 is ready to go wherever your passion leads you, capturing everything with stunning clarity, speed and resolution. From busy, low-light cityscapes to thrilling wildlife scenes and fast action shots, the D500 is the ideal companion to your wanderlust. Marvel at the clarity of its cinematic 4K UHD video. Be amazed at its ruggedness and versatility.</p>
                                    <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item position-relative" style="height: 430px;">
                            <img class="position-absolute w-100 h-100" src="UserStyles/userimg/redmi.gif"style="object-fit: cover;">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="product-offer mb-30" style="height: 200px;">
                    <img class="img-fluid" src="UserStyles/userimg/D85639592_WLD_Samsung_SSGGalaxyFest_Hero_1242x450_2.jpg" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Save 20%</h6>
                        <h3 class="text-white mb-3">Special Offer</h3>
                        <a href="" class="btn btn-warning">Shop Now</a>
                    </div>
                </div>
                <div class="product-offer mb-30" style="height: 200px;">
                    <img class="img-fluid" src="UserStyles/userimg/giphy1.gif" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- Featured Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                    <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0"> 7-Day Return</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured End -->


    <!-- Categories Start -->
    <div class="container-fluid pt-5">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-5"><span class="bg-warning text-dark p-3">Categories</span></h2>
        <div class="row px-xl-5 pb-3">
            <% if (categories.length > 0) { %>
                <% categories.forEach(function(category) { %>
                  <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                    <!-- Update the link to use category._id as the query parameter -->
                    <a class="text-decoration-none" href="/shop?categoryID=<%= category._id %>">
                      <div class="cat-item img-zoom d-flex align-items-center mb-4">
                        <div class="overflow-hidden" style="width: 150px; height: 180px;">
                          <!-- Use product.image instead of category.image -->
                          <img src="/uploads/categoryUpload/<%= category.image %>" width="150" height="180">
                        </div>
                        <div class="flex-fill pl-3">
                          <!-- Use category.title instead of product.title -->
                          <h4><%= category.title %></h4>
                        </div>
                      </div>
                    </a>
                  </div>
                <% }); %>
              <% } else { %>
              <tr>
                <td colspan="4">No category available.</td>
              </tr>
            <% } %>
        </div>
    </div>
    <!-- Categories End -->


    <!-- Products Start -->
    <div class="container-fluid pt-5 pb-3">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-5">
          <span class="bg-warning text-dark p-3">Featured Products</span>
        </h2>

        <div class="row px-xl-5">
            <% if (products.length > 0) { %>
                <% products.forEach((newItem) => { %>
                    <% if (newItem.isDeleted) { %> 
              <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                  <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100 h-100" src="/uploads/productUpload/<%= newItem.itemImage[0] %>" alt="">
                    <div class="product-action">
                        <form action="/cart" method="post">
                            <!-- Hidden input field to hold the productId -->
                            <input type="hidden" name="productId" value="<%= newItem._id %>">
                            
                            <!-- Button to submit the form -->
                            
                            <button type="submit" class="btn btn-outline-dark btn-square">
                              <i class="fa fa-shopping-cart"></i>
                            </button>
                          </form>
                          
                          
                      <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                      <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                    </div>
                  </div>
                  <div class="text-center py-4">
                    <a class="h4 text-decoration-none text-truncate" href="detail?id=<%= newItem._id %>"><%= newItem.moreInfo.brand %></a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                      <h5><%= newItem.OfferedPrice %></h5>
                      <h6 class="text-muted ml-2"><del><%= newItem.SellPrice %></del></h6>
                    </div>
                    <div class="d-flex align-items-center justify-content-center mb-1">
                      <small class="fa fa-star text-primary mr-1"></small>
                      <small class="fa fa-star text-primary mr-1"></small>
                      <small class="fa fa-star text-primary mr-1"></small>
                      <small class="fa fa-star text-primary mr-1"></small>
                      <small class="fas fa-star-half-alt"></small>
                      <small>(99)</small>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
            <% }) %>
          <% } else { %>
            <div class="col-12">
              <p>No products available.</p>
            </div>
          <% } %> 
        </div>
    </div>
    <!-- Products End -->


    <!-- Offer Start -->
    <div class="container-fluid pt-5 pb-3">
        <div class="row px-xl-5">
            <div class="col-md-6">
                <div class="product-offer mb-30" style="height: 300px;">
                    <img class="img-fluid" src="UserStyles/userimg/galaxy-s23-highlights-performance-kv.jpg" alt="">
                    <div class="offer-text">
                        <h3 class="text-white mb-3">Performance</h3>
                        <a href="" class="btn btn-warning text-dark">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-offer mb-30" style="height: 300px;">
                    <img class="img-fluid" src="UserStyles/userimg/galaxy-s23-highlights-kv.avif" alt="">
                    <div class="offer-text">
                        <h3 class="text-white mb-3">S22|S23+</h3>
                        <a href="" class="btn btn-warning text-dark">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Offer End -->


    <!-- Products Start -->
    <div class="container-fluid pt-5 pb-3">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-5"><span class="bg-warning text-dark p-3">Recent Products</span></h2>
        <div class="row px-xl-5">
            <% if (products.length > 0) { %>
                <% products.forEach((newItem) => { %>
                    <% if (newItem.isDeleted) { %> 
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="/uploads/productUpload/<%= newItem.itemImage[1],[2] %>" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="detail?id=<%= newItem._id %>"><%= newItem.Model %></a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5><%= newItem.OfferedPrice %></h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <% }) %>
            <% } else { %>
              <div class="col-12">
                <p>No products available.</p>
              </div>
            <% } %> 
        </div>
     </div>

    <!-- Products End -->


    <!-- Vendor Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel vendor-carousel">
                    <div class="bg-light p-4">
                        <img src="UserStyles/userimg/vendor-1.jpg" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="UserStyles/userimg/vendor-2.jpg" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="UserStyles/userimg/vendor-3.jpg" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="UserStyles/userimg/vendor-4.jpg" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="UserStyles/userimg/vendor-5.jpg" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="UserStyles/userimg/vendor-6.jpg" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="UserStyles/userimg/vendor-7.jpg" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="UserStyles/userimg/vendor-8.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor End -->
    <%- include('includes/userIncludes/userFooter.ejs') %>
    <!-- Back to Top -->